<div class="horizontal-menu__wrapper">
    new layout
    <ul class="s3-doc-list__menu sf-menu horizontal-menu"></ul>
    <span class="horizontal-menu__selected-filter-text"></span>
</div>
<ul class="s3-doc-list document-links-list document-links-list--graphic"></ul>
