$hmiv-main-btn-bg-color: $theme-tertiary;

@import '~cmc-horizontal-menu-item-view/src/horizontal-menu-item-view';

.horizontal-menu {
    background: none;
    text-align: center;
    @include adjust-font-size-to($base-font-size, 1.5);
    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(14px, 1.5);
    }
}

.horizontal-menu > li {
}

.horizontal-menu > li > a {
    background-color: $theme-tertiary;
    color: $font-color-lightest;
    float: none;
    margin: auto;
}

.horizontal-menu > li > ul a {
    @include adjust-font-size-to($base-font-size, 1.5);
    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(12px, 1);
    }
}

.horizontal-menu > li > ul {
    z-index: 1000;
}

.horizontal-menu__selected-filter-text {
    @include adjust-font-size-to(14px, 1);
    @include secondary-font();
    color: $font-color-text-darker;
    position: relative;
    z-index: $left-nav-menu-z-index - 1;
    margin-left: rhythm(0.5);
    &:before {
        content: 'Filter: ';
    }
    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(14px, 1.5);
        display: block;
        //float: left;
        //margin-top: - rhythm(1.5);
        &:before {
            content: none;
        }
    }
}

.selected-filter__remove-btn {
    @include adjust-font-size-to(14px);
    @include secondary-font();
    color: $font-color-text-darker;
    border: 0;
    text-decoration: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;

    &:after {
        content: ' - ';
    }
    &:last-child:after {
        content: '';
    }
    &:hover {
        text-decoration: none;
        color: $font-color-text;
    }
}
