// scss-lint:disable ColorVariable
$theme: 'cmc';

$rhythm-unit: 'rem';
$base-font-size: 16px;
$base-line-height: 26px;
$font-family-base: OpenSansLocal, sans-serif;  // before fonts loaded
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Oswald', sans-serif;

$left-nav-menu-z-index: 900;

$screen-xs-land-min: $screen-xs-min;
$screen-md-min: 922px;
$screen-sm-max: ($screen-md-min - 1);

$grid-gutter-width: 26px;

$font-color-text: #333333;
$font-color-text-dark: #666666;
$font-color-text-darker: #4B5363;
$font-color-text-darkest: #000000;
$font-color-lightest: #FFFFFF;
$font-color-error: #FF3F00;
$font-color-icon: #FFFFFF;
$font-color-selected: #FFFFFF;

$box-bg-grey: #E7EAED;
$box-bg-alt: #D3D9DE;

$left-nav-bg: #F0F2F4;
$left-nav-bg-hover: #8E99A8;

$footer-bg: #BFC8D0;
$border-color: #BBBBBB;
$video-orig-air-date: #8D99A7;
$video-play-btn: #8D99A7;
$news-text: #667385;
$contact-corp-text: #6C7681;
$footer-charm-btn-bg: #6A7688;
$mgmt-text: #4B5263;
$horizontal-menu-txt-color: #4B5263;
$left-nav-button-text: #525B69;
$footer-text-header: #525A68;
$footer-text: #525967;

$theme-primary: #1569A9;
$theme-primary-light: #4B8AD8;
$theme-primary-dark: #00468A;
$theme-primary-alt: #004078;
$theme-secondary: #DC932F;
$theme-tertiary: #78A22F;
$theme-tertiary-light: #78A02D;

$font-color-link: $theme-primary-dark;
$default-rhythm-border-style: solid $border-color;

$header-bg-gradient-stop1: #FFFFFF;
$header-bg-gradient-stop2: #F3F4F8;
$header-bg-gradient: radial-gradient(ellipse at center, $header-bg-gradient-stop1 60%, $header-bg-gradient-stop2 100%);

$location-notification-transition-duration: 700ms;
