$scroll-bar-thumb-border-color: rgba(0, 0, 0, 0);
$scroll-bar-thumb-bg-color: rgba(0, 0, 0, 0.15);
$scroll-bar-thumb-box-shadow-color: rgba(0, 0, 0, 0.05);

%content-wrapper {
    // scss-lint:disable PlaceholderInExtend
    //@extend .container-fluid;
    @include container-fixed;
    // scss-lint:enable PlaceholderInExtend
    max-width: 998px;
}

@mixin svg-sprite-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin svg-sprite-icon-in-pseudo {
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    position: absolute;
}

// Generate the small columns
@mixin make-xs-land-column($columns, $gutter: $grid-gutter-width) {
    position: relative;
    min-height: 1px;
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);

    @media (min-width: $screen-xs-min) {
        float: left;
        width: percentage(($columns / $grid-columns));
    }
}

@mixin make-xs-land-column-offset($columns) {
    @media (min-width: $screen-xs-min) {
        margin-left: percentage(($columns / $grid-columns));
    }
}

@mixin make-small-scroll() {
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-style: solid;
        border-color: $scroll-bar-thumb-border-color;
        border-width: 2px;
        background-clip: padding-box;
        border-radius: 5px;
        background-color: $scroll-bar-thumb-bg-color;
        box-shadow: inset -1px -1px 0 $scroll-bar-thumb-box-shadow-color, inset 1px 1px 0 $scroll-bar-thumb-box-shadow-color;
    }
}

@mixin cmc-button($button-bg-color, $button-gradient-stop2) {
    @include adjust-font-size-to(14px, 1);
    font-weight: 400;
    line-height: rhythm(1, $base-font-size, 2px);
    border-style: solid;
    border-width: 1px;
    border-color: $border-color;
    background: linear-gradient(to bottom, $button-bg-color 30%, $button-gradient-stop2 70%);
    border-radius: 0.5em;
    padding: 0 1em;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: $font-color-text;
    &:link, &:visited, &:active {
        color: $font-color-text;
        text-decoration: none;
    }
    &:hover {
        color: $font-color-text;
        text-decoration: underline;
    }
}

@mixin safari-flex-box-clear-fix-fix() {
    // safari treats before and after as actual elements, set their size to 0
    // https://stackoverflow.com/questions/34250282/flexbox-safari-bug-flex-wrap
    &:before,
    &:after {
        content: normal;
        flex-basis: 0;
    }
}

@mixin charm-button($bg-color: $left-nav-bg-hover) {
    @include adjust-font-size-to(35px);
    display: block;
    padding: 0;
    margin: 0;
    line-height: 1;
    width: 1em;
    overflow: hidden;
    text-indent: 3em;
    background: $bg-color;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    &:after {
        @include svg-sprite-icon-in-pseudo;
        transform: translateY(-50%) translateX(-50%);
        top: 50%;
        left: 50%;
    }
}

@mixin pill-button($bg-color: $theme-tertiary) {
    @include adjust-font-size-to(16px, 1);
    cursor: pointer;
    font-weight: 400;
    background-color: $bg-color;
    color: $font-color-icon;
    text-decoration: none;
    display: inline-block;
    padding: rhythm(0.25) rhythm(1.25) rhythm(0.25) rhythm(0.75);
    border-radius: rhythm(1);
    border: 0;
    position: relative;
    &:after {
        @extend %svg-menu-chevron-right-white;
        @include svg-menu-chevron-right-white-dims();
        background-repeat: no-repeat;
        display: block;
        content: ' ';
        transform: translateY(-50%);
        position: absolute;
        right: rhythm(0.5);
        top: 50%;
    }
}
