@import 'styles/common-imports';
@import 'styles/horizontal-menu';
@import '../../styles/document-links-list';

body {
    font: 14px/2 'Open Sans', sans-serif;
}

.container {
    @include container-fixed;
    max-width: 998px;
}

.s3-doc-list__menu {
    margin: auto;
}
