<ul class="s3-doc-list__menu sf-menu horizontal-menu"></ul>
Test Template
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <span class="horizontal-menu__selected-filter-text"></span>
    </div>
    <div class="col-xs-12 col-sm-6">
        <span class="horizontal-menu__pagination">pagination</span>
    </div>
</div>

<ul class="s3-doc-list document-links-list document-links-list--graphic"></ul>
