
.document-links-list {
    a {
        @include adjust-font-size-to(16px, 0.75);
        font-weight: 400;
        display: block;
    }
    // scss-lint:disable QualifyingElement
    p[class=''],
    p:not([class]) {
        margin: 0;
    }
    // scss-lint:enable QualifyingElement
    li {
        @include adjust-leading-to(0.75);
        margin-left: rhythm(0.5);
        padding-bottom: rhythm(1);
        @media (min-width: $screen-sm-min) {
            margin-left: rhythm(1);
        }
    }
}

.document-links-list--normal {
    list-style-type: disc;
    margin-left: rhythm(1);
    @media (min-width: $screen-sm-min) {
        margin-left: 0;
    }
}

.document-links-list--graphic {
    list-style-type: none;
    margin-left: rhythm(1.5);
    @media (min-width: $screen-sm-min) {
        margin-left: rhythm(2);
    }
    li {
        position: relative;
        &:before {
            content: url('/images/ui/productSheetIconSm.png');
            position: absolute;
            top: 3px;
            left: - rhythm(1.5);
            @media (min-width: $screen-sm-min) {
                left: -50px;
            }
        }
    }
}

.document-links-list p {
    color: $font-color-text-dark;
}
